body{
	background-color: lightskyblue;
}
#header{
	width: 100%;
	background-color: #990000;
	color: white;
	font-size: 3em;
	position: fixed;
	left: 0;
	top: 0;
}
/* <!-- Create an invisible header with relative position to 
occupy space because fixed header violates flow and make
it invisible to the user--> */
#invisible-header{
	width: 100%;
	background-color: #990000;
	color: white;
	font-size: 3em;
	position: relative;
	left: 0;
	top: 0;
	visibility: hidden;
}
#lightbulb{
	float: left;
	height: 100px;
}
#main {
	width: 90%;
	height: 100%;
	margin: 0 auto 0 auto;
}
#navigation-bar {
	width: 90%;
	margin: 0 auto 0 auto;
}
.inset {
	width: 90%;
	margin: 0 auto 0 auto;
}
#content{
	width: 68%;
	float: left;
	margin: 0 auto 0 auto;
}
#sidebar{
	width: 29%;
	float: right;
	margin: 0 auto 0 auto;
}

#d1{
	width: 31%;
	float: left;
}
#d2{
	width: 31%;
	float: left;
	margin-left: 3.5%;
}
#d3{
	width: 31%;
	float: right;
}
/* AN empty div to prevent wrapping on floats */
.no-wrap{
	clear: both;
}
