body{
	font-family: "Times New Roman", Times, Serif;
	font-size: 1em;
	color: green;
}
/* Used in order to clear the wrapped text when an image 
is floating near a set of text*/
p{
	clear: both;
}

p.offset{
	/* Targets every margin */
	margin:  10px;
	/* Targets top-bottom, left-right */
	margin: 10px 10px;
	/* Targets Top->Right->Bottom->Left */
	margin: 10px 10px 10px 10px;
	/* Can also target */
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	color: green;
}

/* TARGETS ALL P ELEMENTS WITH CLASS BOXED */
p.boxed{
	/* ADDS A BORDER 5PX SOLID RED */
	border: 5px solid red;
	/* ADDS WHITESPACE BETWEEN ELEMENT AND THE BORDER */
	padding: 10px;
	/* ADDDS PADDING TOP RIGHT BOTTOM LEFT */
	padding: 10px 10px 10px 10px;
}
/* GROUPING */
/* Target all of those elements  */
h1, h2, h3{
	color: orange;
	text-align: center;
	border: 5px solid orange;
}
/* Targets with an id */
p.boxed#center{
	/* ADDS A BORDER 5PX SOLID RED */
	border: 5px solid green;
	/* ADDS WHITESPACE BETWEEN ELEMENT AND THE BORDER */
	padding: 10px;
	/* ADDDS PADDING TOP RIGHT BOTTOM LEFT */
	padding: 10px 10px 10px 10px;
}
#header{
	color: black;
	text-align: center;
	border: 5px solid black;
}
/* TARGET A SET OF IMAGES THAT ARE
INHERENTLY INLINE TO MAKE THEM 
BLOCK LEVEL ELEMENTS */
#images img{
	display: float: left;
	/* CENTER A BLOCK IMAGE BY SPLITTING
	THE MARGIN EQUALLY ON BOTH LEFT & 
	RIGHT SIDES */
	margin-left: auto;
	margin-right: auto;
	margin: 0 auto 0 auto; 
	margin: auto;
}
/* Chnage the color of a link */
a {
	color: pink;
	/* Removes the underline on the link */
	text-decoration: none;
}
/* Change the color of a link on hover */
a:hover {
	color: blue;
	font-weight: bold;
	/* Removes the underline on the link */
	text-decoration: none;
	font-size: 2em;
}
/* Change the appearance of the link when it is clicked */
a:active {
	font-size: 2em;
}
/* Change the look of the link after its clicked */
a:visited {
	color: deeppink;
}

/* Styling List */
ul{
	margin: 1em;
	list-style-type: circle; 
}

ol{
	margin: 1em;
	list-style-type: square; 
}
li{
	margin: 1em;
	color: blue;
}

/* Styling Table */
th, td{
	border: 1px solid black;
	padding: 0.25em;
	width: 20%;
	
	color: blue;
}
td{
	text-align: left;
}
table{
	text-align: center;
}
tr{
	background-color: yellow;
}

tr.even-row{
	background-color: lightgray;
}





















}